<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App - Varga Dániel</title>
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/todos.css" />
  </head>
  <header>
    <nav class="navbar">
      <a href="/" class="title">Varga Dániel</a>

      <div class="navbar-nav">
        <ul>
          <li class="nav-item">
            <a href="/today" class="nav-link">Today</a>
          </li>
          <li class="nav-item">
            <a href="/work" class="nav-link">Work</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</html>
