<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App</title>
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="inside-container">
        <h1>
          Choose which tasks<br />
          you want to see!
        </h1>
        <div class="selection">
          <ul>
            <li class="selectable-item"><a href="/today">Today</a></li>
            <li class="selectable-item"><a href="/work">Work</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
